.vscode
main.exe
main.out
main
random.exe
random.out
random
binary_height_half_n.exe
binary_height_half_n.out
binary_height_half_n
benchmark.exe
benchmark.out
benchmark
benchmark.txt
benchmark*.txt
tree.txt